<a href="https://colab.research.google.com/github/nanhoyeon/class2023Fall/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

문자를 여러 개 가져오고 싶을 때
예를 들어 위에서 [1:3]을 하면 bc가 출력된다.
0번째인 a는 포함 안되고 1번째인 b부터 시작한다! 3번째인 d의 직전 값인 c까지만 출력되게 만들어져 있다.

-1번째라는 건 제일 마지막을 이야기함(-0은 없으니깐)

스트링 access와 list access를 잘 이해해야 한다.

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

list access

In [ ]:
len(s)

6

len은 s라는 변수의 길이를 재주는 함수다.

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

더하기는 합쳐주는 것

In [ ]:
s.upper()

'ABCDEF'

upper는 대문자로 만들어주는 함수

In [ ]:
s = ' this is a house built this year.\n'
s

' this is a house built this year.\n'

입출력을 한다는 말이 꼭 입력이 들어가고 출력이 반드시 나올 필요는 없다? empty라는 입력도 가능함.

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

11은 house의 h가 처음 시작하는 인덱

In [ ]:
result = s.find('this')	      # index of first instance of string t inside s (-1 if not found)
result

1

this는 0번째가 아니라 1번째에 있다.

In [ ]:
s = s.strip()      	          # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

필요없는 공백 등을 없애준다.

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

'this', 'is', 'a', 'house', 'built', 'this', 'year.'
여기 house가 왜 4번째?

split은 공백(스페이스)라는 것을 문자로 하는 함수
즉 띄어쓰기 기준으로 쪼개는 함수
리스트('')로 쪼개준다.

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

함수.함수 -> 함수 두 개를 연결

In [ ]:
s = s.replace('this', 'that') # replace instances of t with u inside s
s

'that is a house built that year.'