<a href="https://colab.research.google.com/github/nanhoyeon/class2023Fall/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1; print(type(a))

<class 'int'>

a에다가 1을 assign한다.

print는 함수 이름
파이썬에서 입력은 괄호를 통해서 넣는다.
괄호 안에는 변수만 들어가야 한다.
변수의 종류는 크게 문자와 숫자밖에 없다.
만든 사람이 그렇게 만들었다.
괄호가 있으면 괄호 앞에 있는 게 함수 이름이라고 생각할 수 있어야 한다.
위에서 print와 type은 모두 함수다.
type은 변수가 가지고 있는 내용을 물어보는 함수다.
값이 int로 나왔으니 a는 정수라는 뜻이다.

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

float는 실수라는 뜻

In [2]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

str(스트링)은 문자라는 뜻
''(quote)하면 str 처리가 된다.

access는 0번째부터 시작한다.
a[1]은 '123' 중에서 2번째에 해당하는 걸 access하는 것이므로 2가 값으로 나온다.

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

hello의 두 번째 글자는 e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

변수 여러 개를 하나에 넣을 수도 있다.
그럴 때 사용하는 게 list다.
대괄호 있으면 list

1, 2, 3, 4의 list 중에서 첫 번째 값을 access하면 1이

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

list 안에는 1, a, [3, '4']가 들어있다.
[3, '4'] 중에서도 특히 '4' 에 access하고 싶다면 대괄호를 하나 더 하면 된다.

숫자, 문자, 심지어 list 자체도 list 안에 들어갈 수 있다.
여러 개의 list 중 특정한 걸 가지고 오고 싶다면?

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

dict: dictionary
사전의 저장 정보랑 똑같다.
숫자, 문자, list, dict: 변수 종류들
dict에서는 각 요소를 , 로 구분한다.
문자는 '' 와 "" 둘 다로 quote 할 수 있다.
':'은 pairwise?를 나타낸다?
dict는 list와 달리 번호 안쓴다.